@import '_font-stack-epub'; // Dynamically generated

$serif-epub: serif !default;
$sans-serif-epub: sans-serif !default;
$font-1: "Times New Roman", times, georgia, $serif-epub;
$font-2: "Arial Narrow", arial, "Helvetica Neue", helvetica, $sans-serif-epub;
